@model IEnumerable<Group_Project.Models.QuestionAnswers>

@{
    ViewData["Title"] = "ListOfQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List Of Questions</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextOfQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topics.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topics.Certificate.Id)
            </th>
            <th>
                Question Options
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextOfQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topics.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Topics.Certificate.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> 
                    <a asp-action="DeleteConfirm" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    <p>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </p>
